/* -------- SECCION BANNER -------- */
#container-banner{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 20px;
}

/* ocupa todo el contenedor sin sobrepasarse */
#container-banner img{
  width: 100%;
  height: 100%; 
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/*------------- seccion de indices--------------- */
#indice{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 55px;
}
#indice h2{
  text-align: center;
}
#contenido-indice{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.cards{
  background-color: white;
  margin: 0 auto; 
  width: 250px;
  padding: 18px;
  border-radius: 10px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#card-1-grado{
  border: 1px solid #ffcc00;
}
#card-2-grado{
  border: 1px solid #ff33a1;
}
#card-3-grado{
  border: 1px solid #33ff94;
}
#card-4-grado{
  border: 1px solid #3364ff;
}
#card-5-grado{
  border: 1px solid #d833ff;
}
#card-6-grado{
  border: 1px solid #ff5733;
}
.titulo-card{
  text-align: center;
}
.boton-card{
  color: white;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
#boton-1-grado{ 
  background-color: #ffcc00;
}
#boton-2-grado{
  background-color: #ff33a1;
}
#boton-3-grado{
  background-color: #33ff94;
}
#boton-4-grado{
  background-color: #3364ff;
}
#boton-5-grado{
  background-color: #d833ff;
}
#boton-6-grado{
  background-color: #ff5736;
}

#primer-grado h2, #segundo-grado h2, #tercer-grado h2, #cuarto-grado h2, #quinto-grado h2, #sexto-grado h2 {
  width: 80%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 23px;
  text-align: left;
  /* margin-bottom: 15px; */
}
/* ------ seccion primer grado -------*/

#primer-grado{
  /* display: none; ocultar elemento */
  width: 80%;
  margin: 0 auto;
  background-color: #ffcc00;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#sumas-basicas {
  width: 80%;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#sumas-basicas h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold; 
  color: #333;
  margin-bottom: 0;
  margin-top: 35px;
}
#sumas-basicas #contenido {
  margin-top: 0px;
  padding: 0px 40px 40px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

h4 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

h4+a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

h4+a:hover {
  text-decoration: underline;
}

p,
h4+ul li {
  color: #666;
  font-size: 16px;
}
/*----------- seccion segundo-grado------- */

#segundo-grado{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ff33a1;
}
/* ------ seccion tercer grado -------*/
#tercer-grado{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #33ff94;
}

/* ------ seccion cuarto grado -------*/
#cuarto-grado{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #3364ff;
}

/* ------ seccion quinto grado -------*/
#quinto-grado{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #d833ff;
}

/* ------ seccion sexto grado -------*/
#sexto-grado{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ff5736;
}
/* LOS ESTILOS DE AQUI PARA ARRIBA SON DE LA PAGINA PRIMARIA, LUEGO SUBO OTRO COMMIT JUNTANDO Y ADAPTANDOLOS A LOS ESTILOS GENERALES */

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  height: 100px;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
  /* Añade posición relativa para el logo */
}
/* --- estilos generales --------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-formulario {
  margin-bottom: 20px;
  background-color: #ff6666;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bajada {
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para los niveles */
.niveles-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nivel-primario,
.nivel-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background-color: #2fff63;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.2s;
}

.nivel-primario:hover,
.nivel-secundario:hover {
  transform: scale(1.0);
  color: var(--clr-main-light);
  box-shadow: 0px 0px 1px 2px;
}

.nivel-primario {
  margin-right: 20px;
}

.nivel-secundario {
  margin-left: 20px;
}

.nivel-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.nivel-titulo {
  margin-bottom: 10px;
  font-weight: bold;
}

.nivel-primario img,
.nivel-secundario img {
  width: 600px;
  height: auto;
  border-radius: 10px;
  opacity: 0.6;
}

/* Estilos para el título */
.title .titulo-card{
  font-size: 32px;
  color: #b8b3b3;
  text-align: center;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  /* Elimina las líneas subrayadas */
  color: inherit;
  /* Hereda el color del texto del contenedor principal */
}

/* Estilos para la barra lateral */
menu {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  /* Agregamos un margen superior */
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: white;
}

/* Estilos para el logo */
.logo {
  width: 80px;
  /* Tamaño inicial del logo */
  height: auto;
  position: absolute;
  top: 10px;
  left: 50px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.logo:hover {
  transform: scale(1.1);
  /* Escala el logo al pasar el cursor por encima */
}

/* Estilos para el formulario */
.formulario {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.formulario input[type="text"]:focus,
.formulario input[type="date"]:focus,
.formulario textarea:focus,
.formulario select:focus {
  outline: none;
  border-color: #570a0a;
}

.formulario textarea {
  resize: vertical;
}

.formulario select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 30px;
}

.formulario button[type="submit"] {
  background-color: #490707;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
  background-color: #8f0f0f;
}

.formulario input[type="radio"],
.formulario input[type="checkbox"] {
  margin-right: 5px;
}

.formulario label span {
  margin-left: 5px;
}

/* Estilos para el título del formulario */
menu h4 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #570a0a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  border-bottom: 2px solid #720000a1;
}