* {
    margin: 10px; /*margin establece el margen para los cuatro lados*/
    padding: 5px; /*padding establece el espacio de relleno*/
    background-color: lightgreen; /*cambia el color de relleno*/
    font-family: Verdana; /*cambia el tipo de letra*/
    }

body{
   text-align: center;
   font: 85 Verdana;
   color: blueviolet;
   background-color: azure;
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  
.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
  }

.encabezado{
    background-color: brown;
    padding: 10px;
    color:antiquewhite;
    text-align:  center
}