.grados-info{
  display: none;
}
.creacionpag{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
background-color: #81a2be;
border-radius: 10px;
padding: 10px;}

.trayectoria{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: #a9719b;
  border-radius: 10px;
  padding: 10px;}

/*------------- seccion de indices--------------- */
#indice, .card , .card-boton, .grados-info, .grados-info h2, #sumas-basicas,#contenido, #contenido div {
  margin: 0 auto;
}
#indice, .grados-info h2, #contenido, .grados-info{
  width: 80%;
}
#indice{
  margin-bottom: 55px;
}
#indice h2{
  text-align: center;
  margin: 40px 0px;
}
#contenido-indice{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
  row-gap: 70px;
}
.card{
  background-color: white;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 18px;
  border-radius: 10px;  
  box-shadow: 25px 25px 5px 0px rgba(0, 0, 0, 0.2);
}
#card-1-grado{
  border-bottom: 10px solid #000080; 
}
#card-2-grado{
  border-bottom: 10px solid #000000; 
}
#card-3-grado{
  border-bottom: 10px solid #800000; 
}
#card-4-grado{
  border-bottom: 10px solid #490707; 
}
#card-5-grado{
  border-bottom: 10px solid #4B0082; 
}
#card-6-grado{
  border-bottom: 10px solid #333333; 
}
.card-cuerpo{
  padding: 18px;
}
.card-cuerpo ul{
  margin: 25px 0px;
}
.card ul li{
  color: #333;
}
.card .card-titulo{
  border-radius: 10px 10px 0px 0px;
}
#fondo-titulo1, #primer-grado{
  background-color: #000080;
}
#fondo-titulo2, #segundo-grado{
  background-color:  #000000;
}
#fondo-titulo3, #tercer-grado{
  background-color: #800000;
}
#fondo-titulo4, #cuarto-grado{
  background-color: #490707;
}
#fondo-titulo5, #quinto-grado{
  background-color: #4B0082;
}
#fondo-titulo6, #sexto-grado{
  background-color:  #333333;
}

.titulo-card{
  text-align: center;
  color: white;
}
.card-boton a:hover{
  color: #007bff;
  text-shadow: 0px 0px 5px white, 0px 0px 5px #333;
}
.card-boton{
  width: 50%;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #333;
}

.grados-info h2 {
  padding-top: 15px;
  padding-bottom: 23px;
  text-align: left;
  color: white;
}

#aboutus{
  width: 80%;
  margin: 0 0;
  background-color: none;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#sumas-basicas {
  width: 90%;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
}
#sumas-basicas h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 35px;
}
#contenido {
  padding: 0px 40px 40px 40px;
}

#sumas-basicas h3, h4, .card-boton{
  color: #333;
}
h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contenido-secundario a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.contenido-secundario a:hover {
  text-decoration: underline;
}

p,
h4+ul li {
  color: #666;
  font-size: 16px;
}
.grados-info{
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 10px;
}

/* Estilos generales */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Estilos para el encabezado */
.container-cabecera{
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-title {
  flex: 1;
  text-align: center;
}

.container-title h1 {
  margin: 0;
  font-size: 35px;
}

.nav-links {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #e05f5f;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #d29696;
}

.nav-links.show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 50px; 
  left: 0;
  width: 100%;
  background-color: #fff; 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.nav-links.show .nav-link {
  margin-bottom: 15px;
}

.menu-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #e05f5f;
  margin: 5px 0;
}

/* Estilos para el menú desplegable */
.nav-links.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding-right: 10px;
  z-index: 999;
}

.close-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.nav-links.show .close-menu {
  display: block; /* Mostrar el botón de cierre cuando el menú esté desplegado */
}
/* Estilos para el logo */

.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  width: 80px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  /* Escala el logo al pasar el cursor por encima */
}

/* --- estilos generales --------- */
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.bajada {
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para los niveles */
.niveles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.nivel-primario,
.nivel-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bfbbff; /* Fondo oscuro */
  color: #000000; /* Texto claro para buen contraste */
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.4s ease;
}

.nivel-primario:hover,
.nivel-secundario:hover {
  transform: scale(1.05);
  color: #00000075; /* Color amarillo claro en hover para resaltar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nivel-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.nivel-titulo {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.nivel-primario img,
.nivel-secundario img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.4s ease;
}

.nivel-primario:hover img,
.nivel-secundario:hover img {
  opacity: 1; 
}

/* Estilos para el título */
.title .titulo-card{
  font-size: 32px;
  color: #b8b3b3;
  text-align: center;
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
  /* Elimina las líneas subrayadas */
  color: inherit;
  /* Hereda el color del texto del contenedor principal */
}

/* Estilos para la barra lateral */
menu {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
  /* Agregamos un margen superior */
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  margin: 0 10px;
}

.footer .pie {
  margin-top: 10px;
}

/* Estilos para el formulario */
.formulario {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="file"],
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: #ffffff;
}

.formulario input[type="text"]:focus,
.formulario input[type="date"]:focus,
.formulario input[type="file"]:focus,
.formulario textarea:focus,
.formulario select:focus {
  outline: none;
  border-color: #570a0a;
}

.formulario textarea {
  resize: vertical;
}

.formulario select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  padding-right: 30px;
}

.formulario input[type="file"] {
  padding: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.formulario button[type="submit"] {
  background-color: #490707;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
  background-color: #8f0f0f;
}

.formulario input[type="radio"],
.formulario input[type="checkbox"] {
  margin-right: 5px;
}

.formulario label span {
  margin-left: 5px;
}

/* Estilos para mensaje de campos obligatorios*/

.campos-text {
  font-size: 14px; 
  color: #ff0000; 
  font-weight: bold; 
  margin-bottom: 20px; 
  text-align: center; 
  background-color: #fff4f4;
  padding: 10px; 
  border: 1px solid #ff0000; 
  border-radius: 5px; 
}

/* Estilos para el título del formulario */
menu h4 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #570a0a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
  border-bottom: 2px solid #720000a1;
}

.btn-volver {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #490707;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn-volver:hover {
  background-color: #8f0f0f;
}

/*Estilos para flecha ir hacia arriba*/
.volver-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.volver-arriba.mostrar {
  opacity: 1;
  visibility: visible;
}

.volver-arriba a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  transition: background-color 0.3s ease;
  animation: rebote 1s infinite;
}

.volver-arriba a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes rebote {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 720px) {
  .container {
    padding: 10px;
  }

  .container-cabecera .container-title{
    position: relative;
    right: 15%;
  }

  .logo {
    width: 80px;
    /* Tamaño inicial del logo */
    height: auto;
    left: 20px;
  }
  .niveles-container {
    flex-direction: column;
  }

  .nivel-primario,
  .nivel-secundario {
    margin: 10px 0;
  }

  .nivel-primario {
    margin-right: 0;
  }

  .nivel-secundario {
    margin-left: 0;
  }

  .nivel-primario img,
  .nivel-secundario img {
    width: 100%;
    max-width: 550px;
  }
  .nav-links {
    display: none; /* Ocultar los enlaces de navegación */
  }

  .menu-toggle {
    display: block; /* Mostrar el botón de menú hamburguesa */
  }

}

/* Estilos para tabletas */
@media (min-width: 1280px) and (max-width: 800px) {

  .container {
    padding: 20px;
  }
  .niveles-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nivel-primario,
  .nivel-secundario {
    width: 45%;
    margin: 10px;
  }
  
}
@media only screen and (min-width: 320px) and (max-width: 955px){
  .grados-info{
    width: 100%;
    margin: 0 auto;
    padding: 25px 0px;
    border-radius: 0;
    margin-bottom: 30px;
  }
  #contenido div{
    width: 100%;
  }
  
}
@media only screen and (min-width: 956px) and (max-width: 1455px){
  .grados-info{
    width: 100%;
    margin: 0 auto;
    padding: 25px 0px;
    border-radius: 0;
    margin-bottom: 30px;
  }
  #contenido div{
    width: 100%;
  }
  .contenido-secundario, .contenido-principal{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .contenido-secundario div iframe{
    width: 100%;
  }
}
@media only screen and (min-width: 1456px) and (max-width: 2000px) {
  #contenido{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}